div {
    margin:0 auto;
    width: 500px;
    border: 1px solid black;
    text-align: center;
    background-color: #e6ffe6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ol li{
    text-align: left;
}

body{
    background-color: #2E8B57;
}

.para-fazer{
    color: red;
}

.concluida{
    color : green;
}

.btnRemove{
    margin-right: 11px;
    float: right;
}

li p {
    margin: 0;    
    display: inline-block;
}